
.form-row{
    background: rgb(250, 251, 252);
    width: 400px;
    box-shadow: 2px 2px 0px;
}
.row{
    background: rgb(226, 231, 231);
    width: 1200px;
    height: 500px;
}
.btn1{
    border: none;
    outline: none;
    border-radius: 10px;
    height: 50px;
    width: 300px;
}
.btn2{
    border: none;
    outline: none;
    border-radius: 10px;
    height: 50px;
    width: 300px;
}